<!DOCTYPE html>
<html lang="is">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/main.js"></script>
  <title>4F2</title>
</head>

<body id="style-1">

  <div class="topnav" id="myTopnav">
      <form action="/" method="GET">
        <input class="navLogo" type="image" src="https://i.imgur.com/hqgVfnK.png" />
      </form>
    <form action="about" method="get">
      <button>About</button>
    </form>
    <form action="content" method="get">
      <button>Contact</button>
    </form>
    <div class="dropdown">
      <button class="dropbtn">Offers
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#Nova_Tilbod_id">Nova</a>
        <a href="#Vodafone_Tilbod_id">Vodafone</a>
        <a href="#Siminn_Tilbod_id">2 Fyrir 1</a>
      </div>
    </div>

    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="navbarShrink()">&#9776;</a>
  </div>


  <header>
    <section class="header-section">
        <form action="/" method="GET">
          <input class="Logo" type="image" src="https://i.imgur.com/qz2eCBl.png" />
        </form>
 
      <form action="/" method="GET">
        <input class="Logo" type="image" src="https://i.imgur.com/vzUn4CY.png" />
      </form>
      
      <p class="slogan">A place to find various food related discounts!</p>
    </section>
  </header>
  <main>
    <!-- Test div random takka -->
    <section class="random_tilboð_section" id="random_section_id">
      <p class="random_texti">Can't decide? Let us pick an offer for you with a simple click!</p>

    <div class="randomIsTheShit">

      </div>
      <div class="random_container">
          <div class="random_box">
              <form action="/randomNova#random_section_id" method="GET">
                <input class="mynd1" type="image" src="https://i.imgur.com/MuhUv5h.png" />
              </form>
          </div>
          <div class="random_box">
              <form action="/randomVodafone#random_section_id" method="GET">
                <input class="mynd2" type="image" src="https://i.imgur.com/EBmnIyo.png" />
              </form>
          </div>
          <div class="random_box">
              <form action="/randomTwoForOne#random_section_id" method="GET">
                <input class="mynd3" type="image" src="https://i.imgur.com/A76Uhu2.png" />
              </form>
          </div>
          <div class="random_box">
              <form action="/randomAll#random_section_id" method="GET">
                <input class="mynd4" type="image" src="https://i.imgur.com/RWNsMiE.png" />
              </form>
          </div>
        </div>
    </div>

    </section>

      <section class="Nova_tilbod" id="Nova_Tilbod_id">
        <img class="NovaLogo" src="https://i.imgur.com/MuhUv5h.png" alt="">
        <div class="Nova_1" id="style-1">

          <% nova.novaPlaces.forEach(function (food){ %>

            <div class="Tilbodin">

              <img class="Brynjar" src="<%= food.img%>" alt="Picture of the restaurant">

              <div class="eventName">
                <p class="stadurNafn">
                  <%= food.name %>
                </p>
              </div>

              <div class="about">
                
                <p class="stadurUppl">
                  <%= food.about %>
                </p>
              </div>

              <div class="Location_g_mynd">
                <p>
                  <a href='http://maps.google.com/?q=<%= food.address %>'>
                    <img class="google_1" src="https://i.imgur.com/0JlalOl.png" />
                   
                  </a>
                
              <div class ="asdfe">
                <% food.days.forEach(function (day){ %>
                  <p>
                    <%= day.name %>
                  </p>
                  <% }) %>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </section>

    <section class="Vodafone_tilbod" id="Vodafone_Tilbod_id">
      <img class="VodLogo" src="https://i.imgur.com/EBmnIyo.png" alt="">
      <div class="Vodafone_2" id="style-1">

        <% vodafone.vodafonePlaces.forEach(function (food){ %>

          <div class="Tilbodin">


            <img class="Brynjar" src="<%= food.img%>" alt="Picture of the restaurant">

            <div class="eventName">
              <p class="stadurNafn">
                <%= food.name %>
              </p>
            </div>

            <div class="about">
              <p class="stadurUppl">
                <%= food.about %>
              </p>
            </div>

            <div class="Location_g_mynd">
                <p>
                  <a href='http://maps.google.com/?q=<%= food.address %>'>
                    <img class="google_1" src="https://i.imgur.com/0JlalOl.png" />
                   
                  </a>
                
              <div class ="asdfe">
                <% food.days.forEach(function (day){ %>
                  <p>
                    <%= day.name %>
                  </p>
                  <% }) %>
                </div>
              </div>
              

          </div>
          <% }) %>
      </div>
    </section>


    <section class="Siminn_tilbod" id="Siminn_Tilbod_id">
      <img class="tveirEinnLogo" src="https://i.imgur.com/A76Uhu2.png" alt="">
      <div class="Siminn_3" id="style-1">

        <% twoForOne.twoForOnePlaces.forEach(function (food){ %>

          <div class="Tilbodin">

            <img class="Brynjar" src="<%= food.img%>" alt="Picture of the restaurant">

            <div class="eventName">
              <p class="stadurNafn">
                <%= food.name %>
              </p>
            </div>

            <div class="about">
              <p class="stadurUppl">
                <%= food.about %>
              </p>
            </div>

            <div class="Location_g_mynd">
                <p>
                  <a href='http://maps.google.com/?q=<%= food.address %>'>
                    <img class="google_1" src="https://i.imgur.com/0JlalOl.png" />
                   
                  </a>
                
              <div class ="asdfe">
                <% food.days.forEach(function (day){ %>
                  <p>
                    <%= day.name %>
                  </p>
                  <% }) %>
                </div>
              </div>
          </div>
          <% }) %>
    </section>

  </main>
  <footer>
    <section class="Footer-section">
      <p>© 2018 Gunnar M. Harðarson</p>
      <p>© 2018 Vilhjálmur Jónsson</p>
    </section>
  </footer>
</body>

</html>