<!DOCTYPE html>
<html lang="is">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="javascripts/main.js"></script>
  <title>4F2</title>
</head>

<body>

  <div class="topnav" id="myTopnav">
    <img class="navLogo" src="https://i.imgur.com/hqgVfnK.png" alt="">

    <a href="#">News</a>
    <a href="#">About</a>
    <a href="#">Content</a>
    <div class="dropdown">
      <button class="dropbtn">Offers
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#Nova_Tilbod_id">Nova</a>
        <a href="#Vodafone_Tilbod_id">Vodafone</a>
        <a href="#Siminn_Tilbod_id">2 Fyrir 1</a>
      </div>
    </div>

    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="navbarShrink()">&#9776;</a>
  </div>


  <header>
    <section class="header-section">
      <img class="Logo" src="https://i.imgur.com/qz2eCBl.png" alt="">
      <img class="Logo" src="https://i.imgur.com/vzUn4CY.png" alt="">
      <p class="slogan">A place to find various food related discounts!</p>
    </section>
  </header>
  <main>
    <!-- Test div random takka -->
    <section class="random_tilboð_section">
      <p class="random_texti">Can't decide? Let us pick an offer for you with a simple click!</p>

    <div class="randomIsTheShit">

      </div>
      <div class="random_container">
          <div class="random_box">
              <form action="/randomNova" method="GET">
                <input class="mynd1" type="image" src="https://i.imgur.com/MuhUv5h.png" />
              </form>
          </div>
          <div class="random_box">
              <form action="/randomVodafone" method="GET">
                <input class="mynd2" type="image" src="https://i.imgur.com/EBmnIyo.png" />
              </form>
          </div>
          <div class="random_box">
              <form action="/randomTwoForOne" method="GET">
                <input class="mynd3" type="image" src="https://i.imgur.com/A76Uhu2.png" />
              </form>
          </div>
          <div class="random_box">
              <form action="/randomAll" method="GET">
                <input class="mynd4" type="image" src="https://i.imgur.com/MuhUv5h.png" />
              </form>
          </div>
        </div>

            <!-- random stuffið kemur inn hér -->
        <div class="random_container_efni">
            <div class="random_box_efni_1">
                <img class="Brynjar_efni" src="<%= randomVodafone.img%>" alt="Picture of the restaurant">
            </div>
            <div class="random_box_efni_2">
                <p class="random_stadurNafn">
                    <%= randomVodafone.name %>
                </p>
                <p class="random_about">
                    <%= randomVodafone.about %>
                  </p>
            </div>
         
        </div>

    </section>

      <section class="Nova_tilbod" id="Nova_Tilbod_id">
        <img class="NovaLogo" src="https://i.imgur.com/MuhUv5h.png" alt="">
        <div class="Nova_1">

          <% nova.novaPlaces.forEach(function (food){ %>

            <div class="Tilbodin">

              <img class="Brynjar" src="<%= food.img%>" alt="Picture of the restaurant">

              <div class="eventName">
                <p class="stadurNafn">
                  <%= food.name %>
                </p>
              </div>

              <div class="about">
                <p class="stadurUppl">
                  <%= food.about %>
                </p>
              </div>

              <div class="Location">
                <p>
                  <a href='http://maps.google.com/?q=<%= food.address %>'>
                    <%= food.address %>
                  </a>
                </p>

                <% food.days.forEach(function (day){ %>
                  <p>
                    <%= day.name %>
                  </p>
                  <% }) %>
              </div>
            </div>
            <% }) %>
        </div>
      </section>

    <section class="Vodafone_tilbod" id="Vodafone_Tilbod_id">
      <img class="VodLogo" src="https://i.imgur.com/EBmnIyo.png" alt="">
      <div class="Vodafone_2">

        <% vodafone.vodafonePlaces.forEach(function (food){ %>

          <div class="Tilbodin">


            <img class="Brynjar" src="<%= food.img%>" alt="Picture of the restaurant">

            <div class="eventName">
              <p class="stadurNafn">
                <%= food.name %>
              </p>
            </div>

            <div class="about">
              <p class="stadurUppl">
                <%= food.about %>
              </p>
            </div>

            <div class="Location">
              <a href="<%= food.website_url %>">
                <%= food.name %>
              </a>

              <% food.days.forEach(function (day){ %>
                <p>
                  <%= day.name %>
                </p>
                <% }) %>
            </div>
          </div>
          <% }) %>
      </div>
    </section>


    <section class="Siminn_tilbod" id="Siminn_Tilbod_id">
      <img class="tveirEinnLogo" src="https://i.imgur.com/A76Uhu2.png" alt="">
      <div class="Siminn_3">

        <% twoForOne.twoForOnePlaces.forEach(function (food){ %>

          <div class="Tilbodin">

            <img class="Brynjar" src="<%= food.img%>" alt="Picture of the restaurant">

            <div class="eventName">
              <p class="stadurNafn">
                <%= food.name %>
              </p>
            </div>

            <div class="about">
              <p class="stadurUppl">
                <%= food.about %>
              </p>
            </div>

            <div class="Location">
              <p>
                <a href='http://maps.google.com/?q=<%= food.address %>'>
                  <%= food.address %>
                </a>
              </p>
              <% food.days.forEach(function (day){ %>
                <p>
                  <%= day.name %>
                </p>
                <% }) %>
            </div>
          </div>
          <% }) %>
    </section>

    <!--
    <section class="Siminn_tilbod">
      <img class="SimLogo" src="https://i.imgur.com/WB4YASG.png" alt="">
      <div class="Siminn_3">

        <% nova.novaPlaces.forEach(function (food){ %>

          <div class="Tilbodin">

            <img class="Brynjar" src="<%= food.img%>" alt="Picture of the restaurant">

            <div class="eventName">
              <p class="stadurNafn">
                <%= food.name %>
              </p>
            </div>

            <div class="about">
              <p class="stadurUppl">
                <%= food.about %>
              </p>
            </div>

            <div class="Location">
              <p>
                <%= food.address %>
              </p>
              <% food.days.forEach(function (day){ %>
                <p>
                  <%= day.name %>
                </p>
                <% }) %>
            </div>
          </div>
          <% }) %>
      </div>
    </section>
    -->

  </main>
  <footer>
    <section class="Footer-section">
      <p>© 2018 Gunnar M. Harðarson</p>
      <p>© 2018 Vilhjálmur Jónsson</p>
    </section>
  </footer>
</body>

</html>